body {
    margin: 0;
    background-color: rgb(245, 245, 227);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas:
        'verde vermelho'
        'amarelo azul';
    gap: 10px;
    background-color: black;
    border-radius: 100%;
    border: 2vh solid black;
    width: 65vh;
    height: 65vh;
}

.green {
    grid-area: verde;
    background-color: rgb(0, 128, 0);
    filter:brightness(50%);
    border-top-left-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: rgb(255, 0, 0);
    filter:brightness(50%);
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: rgb(255, 255, 0);
    filter:brightness(50%);
    border-bottom-left-radius: 100%;
}

.blue {
    grid-area: azul;
    background-color: rgb(0, 0, 255);
    filter:brightness(50%);
    border-bottom-right-radius: 100%;
}

.ball{
    background-color: black;
    border-radius: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 30vh;
    font-size: large;
    color: white;
}

.selected {
    filter:brightness(100%);
}
